@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-black: #0a0a0a;
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 3s infinite;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-33.333%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-33.333%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}

.group:hover .animate-scroll-up,
.group:hover .animate-scroll-down {
  animation-play-state: paused;
}

/* Custom Scrollbar Styles */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 10px;
}


/* Firefox */
* {
  scrollbar-width: thin;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}